#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,matrix-transform = <&default_transform>;
        zmk,physical-layout = <&physical_layout0>;
    };

    default_transform: default_transform {
        compatible = "zmk,matrix-transform";
        rows = <1>;
        columns = <9>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3)
            RC(0,4) RC(0,5) RC(0,6) RC(0,7)
            RC(0,8)
        >;
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "helix-layout";
        transform = <&default_transform>;

        keys  //                     w    h    x    y   rot   rx   ry
            = <&key_physical_attrs 280 350  100    0    0    0    0>  /* 0: LMB */
            , <&key_physical_attrs 120 250  380    0    0    0    0>  /* 1: MMB (scroll click) */
            , <&key_physical_attrs 280 350  500    0    0    0    0>  /* 2: RMB */
            , <&key_physical_attrs 120 100  380  250    0    0    0>  /* 3: DPI (below scroll) */
            , <&key_physical_attrs 100 100    0    0    0    0    0>  /* 4: Btn5 (top of module) */
            , <&key_physical_attrs 100 100    0  100    0    0    0>  /* 5: Btn4 */
            , <&key_physical_attrs 100 100    0  200    0    0    0>  /* 6: Btn3 */
            , <&key_physical_attrs 100 100    0  300    0    0    0>  /* 7: Btn2 */
            , <&key_physical_attrs 100 100    0  400    0    0    0>  /* 8: Btn1 (bottom of module) */
            ;
    };

    esb_split {
        compatible = "zmk,esb-split";
        base-addr-0 = <0xE7 0xE7 0xE7 0xE7>;
        base-addr-1 = <0xC2 0xC2 0xC2 0xC2>;
        addr-prefix = <0xE7 0xC2 0xC3 0xC4 0xC5 0xC6 0xC7 0xC8>;
    };
};
