#include "helix.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    chosen {
        zmk,kscan = &mock_kscan;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;

        pd0_split: pd0@0 {
            compatible = "zmk,input-split";
            reg = <0>;
        };
    };

    mou0_listener: mou0_listener {
        compatible = "zmk,input-listener";
        device = <&pd0_split>;
    };
};
