#include <zephyr/dt-bindings/input/input-event-codes.h>
#include "helix.dtsi"
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors/report_rate_limit.dtsi>
/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    /* 9 direct inputs => 1 row x 9 cols via matrix-transform */
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;

        /* Order MUST match your keymap positions 0..8 */
        input-gpios =
            <&gpio1 4  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* 0: Left   P1.04 */
          , <&gpio0 6  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* 1: Middle P0.06 */
          , <&gpio0 8  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* 2: Right  P0.08 */
          , <&gpio0 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* 3: DPI    P0.11 */
          , <&gpio1 6  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* 4: Btn5   P1.06 */
          , <&gpio0 9  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* 5: Btn4   P0.09 */
          , <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* 6: Btn3   P0.10 */
          , <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* 7: Btn2   P1.11 */
          , <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; /* 8: Btn1   P1.13 */
    };
};

/* Encoders + PAW3395 wiring */
&pinctrl {
    spi2_default: spi2_default {
        group1 {
            psels =
                <NRF_PSEL(SPIM_SCK, 0, 20)>,
                <NRF_PSEL(SPIM_MOSI, 0, 22)>,
                <NRF_PSEL(SPIM_MISO, 0, 24)>;
        };
    };
    spi2_sleep: spi2_sleep {
        group1 {
            psels =
                <NRF_PSEL(SPIM_SCK, 0, 20)>,
                <NRF_PSEL(SPIM_MOSI, 0, 22)>,
                <NRF_PSEL(SPIM_MISO, 0, 24)>;
            low-power-enable;
        };
    };
};

&zip_report_rate_limit {
    limit-ble-only;
};

&spi2 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi2_default>;
    pinctrl-1 = <&spi2_sleep>;
    pinctrl-names = "default", "sleep";

    /* nCS = P1.00 */
    cs-gpios = <&gpio1 0 GPIO_ACTIVE_LOW>;

    pd0: pd@0 {
        compatible = "pixart,paw3395";
        status = "okay";
        label = "MOU0";
        reg = <0>;
        spi-max-frequency = <4000000>;

        /* Motion/IRQ = P0.17 */
        irq-gpios = <&gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

        /* Default CPI (can still be changed by behavior later) */
        cpi = <600>;

        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;

        force-awake;
    };
};

/ {
    /* Encoder 1 (vertical wheel) */
    enc1: enc1 {
        compatible = "alps,ec11";
        status = "okay";
        a-gpios = <&gpio0 31 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <48>;
    };

    /* Encoder 2 (horizontal wheel / tilt wheel style) */
    enc2: enc2 {
        compatible = "alps,ec11";
        status = "okay";
        a-gpios = <&gpio0 2  (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <48>;
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        status = "okay";
        sensors = <&enc1 &enc2>;
        /* One value applies to the whole sensors node */
        triggers-per-rotation = <12>;
    };
};

/ {
    xy_transf: xy_transf {
        compatible = "zmk,input-processor-transform";
        #input-processor-cells = <1>;
        type = <INPUT_EV_REL>;
        x-codes = <INPUT_REL_X>;
        y-codes = <INPUT_REL_Y>;
    };

    mou0_listener {
        compatible = "zmk,input-listener";
        device = <&pd0>;

        base {
            layers = <0>; /* DEF layer index */
            input-processors = <&xy_transf (INPUT_TRANSFORM_Y_INVERT)>
                             , <&zip_report_rate_limit 15>;
        };
    };
};